#main DIV.block{padding:10px 10px 25px 10px;}
.block DIV{margin:1px 0 0 0;}
.block H1{font:150% Georgia,'Times New Roman',serif;margin:2px 0 0 0;}
DIV.block IMG{margin-right:8px;}
DIV.block IMG.gamelogo{float:left; }
DIV.block P.sitename{font-size:100%;font-weight:bold;}
DIV.block P{font:80% Georgia,'Times New Roman',serif;margin:2px 0 0 10px;}

.inp2{background-color: #FFFFFF;border:1px;border-style:solid;font-weight:normal;border-color:#99CCFF;font-family:Georgia,Serif;font-size:70%;width:60%}


/* submit */
.submit{margin:0 5px 0 5px;}
div.submit h1{font-size:16px;}

.loginform{width:250px;font-family:Tahoma, Verdana, Arial;font-size: 11px;}

input { border: 1px solid #303030;}
.input1 { border: 1px solid #303030;}
.button {font-family: Courier, Tahoma, Arial; font-size: 12px; background-color: #e0e0e0; border: 1px solid #000000;}
.frm4 {background-color: #ffffff; border: 1px dashed #303030;font-size: 11px;}
.frm5 {background-color: #e7e7e7; border: 1px dashed #303030;font-size: 11px;}
.frm6 {background-color: #e7e7e7; border: 1px solid #303030; margin: 0 0 2 0; }

